*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins' , sans-serif;
  box-sizing: border-box;
}
body{
  background: linear-gradient(130deg, #000000, #000000);
  color: white;
}
.backMenu{
  border: 1px solid #2ecc71;
  padding: 14px 35px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
.backMenu:hover{
  color: black;
  background-color:#2ecc71;
}
#port-padding{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  margin-bottom: 0;
  height: 100vh;
}
.row{
  margin-top: 50px;
}
.container-fluid h2{
  font-size: 70px;
  font-weight: bold;
  color: white;
  padding-bottom: 5%;
  text-align: center;
}

.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden; 
}
.work img{
  object-fit: cover;
  width: 100%;
  height: 350px;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6), #2ecc71);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
  color: white;
}
.layer p{
  color: white;
}
.layer a{
  margin-top: 20px;
  color: #2ecc71;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  transition: .6s;
}
.layer a:hover{
  background: rgba(0,0,0,0.6);
  
}

.work:hover img{
  transform: scale(1.2);
}

.work:hover .layer{
  height: 100%;
}


/**Media Query*/
@media only screen and (max-width: 600px){
  .container-fluid h2{
    font-size: 40px;
  }
  
  .container-fluid{
    margin: 1%;
  }
}